/*  CUSTOM CSS */

.navbar-default {
    background-color: #ffbf80;
    margin-bottom: 0px;

 }



.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-nav > li > a{
    font-family: proxima-nova;
    font-style: normal;
    font-weight: 100;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: black;
} 

.lees-logo {
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}


/* Carousel formatting
-------------------------------------------------- */

/* Please note we are handling the size of carousel in the
   Screen size modifications section of this form */

.carousel-inner > .item > img {
    width: 100%;
    margin: 0 auto;
}

.carousel-inner > .item > img {
    width: 100%;
    margin: 0 auto;
}

.carousel .item {
    background-color: rgba(0,0,0,0);
    overflow: hidden;
}

.carousel .item {
    width: 100%; /*slider width*/
    max-height: 450px; /*slider height*/
}
.carousel .item img {
    width: 80%; /*img width*/
}

@media (max-width: 767px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}

/* Body
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  background-color: #808080;
  margin-bottom: 200px;
  /*background: url('../images/noisy.png');*/
  font-family: 'Open Sans', 'Helvetica Nue', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialised;
	text-rendering: optimizelegibility;
}

body h1 {
    font-family: a
}

/* my-story page
-------------------------------------------------- */
#my-story-photo {
   zoom: 50%;
}

/* Virtual Gallery page
-------------------------------------------------- */
#thumbnail-gallery img {
   height: 175px;
   
}

/* Picture pages
-------------------------------------------------- */
.picture-gallery {
   border: solid 10px #fff;
   border-radius: 10px
}


/* Sticky footer styles
-------------------------------------------------- */

#footer a {
  color: #9af7fe; 
}
#footer a:hover, a:focus {
  color: #ffbf80;
} 

#footer {
  position: absolute;
  font-size: 16px;
  color: #fff;
  width: 100%;
  bottom: 0; 
  font-family: proxima-nova;
  background-color: #000;
}

#footer h4{
    text-transform: uppercase;
}


/* Screen size modifications
-------------------------------------------------- */

@media only screen and (min-width:1px) and (max-width: 407px)  {
 
body {
        margin-bottom: 350px;
    }

#carousel-container {
    width: 100%;
}

 #footer {
        height: 450x; 
    }
}

@media only screen and (min-width:408px) and (max-width: 768px)  {

 body {
        margin-bottom: 375px;
 }

#carousel-container {
    width: 80%;
}

 #footer {
        height: 350px; 
    }
}
@media only screen and (min-width:769px)   {
body {
        margin-bottom: 225px;
}

#carousel-container {
    width: 50%;
}

#footer {
        height: 200px; 
    }
}



